
@{
    ViewBag.Title = "IndexFront";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>FRONTEND</h2>


<del><p>!!ACİL!! /WriterHeading/AllHeadings/ Bu URL'de all titles var, kullanıcı oraya yazı yazmak için tıkladığı buttonun iconu kalem değil + simgesi gibi bişey olursa daha iyi olur. edit iconuyla aynı olmuş çünkü(27.07.21</p></del>
<del><p>Texts yazanları Entries yapalım demiştik, onların içine yazmamız lazım sadece icon olmamış, iconu  da T simgesi biraz kötü başka alakalı bişey bulalım.(27.07.21</p></del>
<del><p>Login Pagelerin head kısmındaki title'lar değişecek(27.07.21</p></del>
<p>Writer Logindeki facebook-twitter iconları -> Remember me ve paralo unuttum komple kaldır zaten çalışmıyor boşu boşuna pembeliklerini gidermeye gerek yok </p>
<p>Database düzenlemelerine başlanacak yavaştan(27.07.21</p>
<del><p>Writer'ın titlerını gösteren buton değişecek(27.07.21)</p></del>