
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--Bitirdiklerini <del> </del> içine alırsan iyi olur kenç üstünü çizelim ne yaptığımızı bilelim-->

<h2>BACKEND</h2>

<p>Datatable default order -> Tarihe göre büyükten küçüğe yap</p>
<p> AntiForgeryToken </p>
<p> Network Tabında hızlandırma işlemleri </p>
<p> Validation İşlemleri </p>
<p><del> GoogleChart</del> </p>
<p> SweetAlerts </p>
<p> Logout </p>
<p> Register Page </p>

<del><p>Yazar banlama yap</p></del>
<p>Search ve Paging uyuşmazlığını gider.</p>
<del><p>Active-Passive title -> dataTable Length'leri 10 yapılacak</p></del>
<del><p>New Message buttonundaki hata giderilecek</p></del>
<del><p>Alınan contact mesajları okumak için içeriğe tıklanmalı    </p></del>
<del><p>Contact Read alanındaki butonlar değişecek print vs. kaldırılacak</p></del>
<del><p>Contact kısmındaki sağ üst home/ compose silinecek</p></del>
<del><p>trash kutusunda hepsini sil seçeneği gelecek</p></del>
<del><p>Category Silme işleminde Sadece Status değişmeli ve o statüse göre category'ler gelmeli</p></del>
<p> Title form'da yazar'ı sesion'a göre yönlendir</p>
<del><p> Yazar edit işlemi yapılınca banlanıyor?</p></del>
<p>ADMİN TİTLE EKLEYEMEZ, FAKAT EKLENEN TİTLE'I DÜZENLEYEBİLİR, DÜZENLEDİĞİ ZAMAN ADMİNİN ADI DEĞİL, TİTLE'I  OLUŞTURAN WRITER 'IN ADI YAZMAYA DEVAM ETMELİ, DOLAYISIYLA -> ADMIN'I WRİTER TABLOSUNUN İÇİNE VERİP ROLLEME İŞLEMLERİNİ YAPMAN GEREKİYOR</p>


<p><b>----WriterPaneldeki işlemler----</b></p>
<del><p> My Titles : Yazar resmi - yazısı yan yana gelmeli</p></del>
<del><p>Message : Bütün hepsini admin Paneldeki gibi yap</p></del>
<del><p>Title'lara kimin content yazdığını ekle</p></del>


