
@{
    ViewBag.Title = "IndexFront";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>FRONTEND</h2>


<p>!!ACİL!! /WriterHeading/AllHeadings/ Bu URL'de all titles var, kullanıcı oraya yazı yazmak için tıkladığı buttonun iconu kalem değil + simgesi gibi bişey olursa daha iyi olur. edit iconuyla aynı olmuş çünkü</p>
<p>Texts yazanları Entries yapalım demiştik, onların içine yazmamız lazım sadece icon olmamış, iconu  da T simgesi biraz kötü başka alakalı bişey bulalım.</p>
<p>Login Pagelerin head kısmındaki title'lar değişecek</p>
<p>Writer Logindeki pembelikler kalacak</p>
<p>Database düzenlemelerine başlanacak yavaştan</p>